<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content shadow-4-strong rounded-8 border border-2">
        <div id="modal-header" class="modal-header rounded-8 rounded-bottom-0 border">
        <h5 class="modal-title" id="modalLabel"></h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalMessage"></div>
        <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" id="btn-modal" class="btn btn-secondary btn-rounded border border-2" data-mdb-dismiss="modal">Fechar</button>
        </div>
    </div>
    </div>
</div>